
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    
    box-sizing: border-box;
}

.paragraph{
    color:#737373;
    font-size: 14px;
    font-weight: 400;
   
}

h1,h2,h3,h4,h4,h5,h6,hr,p{
    margin: 0;
    padding:0;
}

img{
   max-width:100%;
}

.center{
    text-align: center;
}
.flex-col{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.flex-row{
    display: flex;
    align-items: center;
    gap:30px
}
.footer-details-container{
    display: flex;
    align-items: center;
    gap:5px;
}
.semi-bold{
    font-weight: 700;
    font-size: 12px;
}

body{
    font-family: Montserrat;
    /* overflow: hidden; */
    margin:0;
}
.bg-pink{
    background-color: rgba(255, 242, 243, 1);

}
label #btn,
label #cancel{
    font-size: 25px;
    /* line-height: 80px; */
    display: none;
    /* line-height: 10px; */

}
.close-menu{
     display: none;
    position:relative ;
    right:50px;
    bottom:30px;
}
#check{
    display: none;
}

.header{
    background-color: #F6F7FB;
    display: flex;
    align-items: center; 
    /* height:90px;  */
    /* gap:30px; */
   margin: 0;
   padding:15px;
}
 .container-lg{
    max-width:1100px;
    margin: auto;
    padding:30px 20px;
     
 }
.container{
    max-width:1050px;
    margin: auto;
    padding:15px 20px;
   
     
}
.page-session{
    margin-bottom:150px  ;
}

.container-title{
    font-size: 24px;
    font-weight: 700;
}

.navbar{
    display:flex;
    gap:200px;  

}

.navbar ul{
    display:flex;
    align-items: center; 
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    padding:10px;
    color: #737373;
    font-weight: 700;
    font-size: 14px;

}

.btn{
    background: transparent;
    border:transparent;
    font-weight: 700;
    font-size: 14px;
    color: #8D5CF6;
     padding:15px 25px;  
    border-radius: 5px;
    
}
.arrow-icon{
     padding-left: 5px;
     width: 12px; 
     height: 10px;
}
.colored-btn{
    
    background-color: #8D5CF6 ;
    color: white;
    border:1px solid  #8D5CF6;

}
.border-btn{
    border:1px solid  #8D5CF6;
}
.rounded-btn{
    border-radius: 37px;
    border: 1px solid #8D5CF6;
    background: transparent;
    color: #8D5CF6;
    padding:15px 25px; 
    font-size: 14px;
    font-weight: 700;
}
.btn-visible{
    display: none;
}
.bg-light{
    background-color: #F6F7FB;
}


.landing-page-contents h5{
    color:#8D5CF6;
    font-weight: 700;
    font-size: 16px;
    
} 

.landing-page-contents h1{
    color: #252B42;
    font-size: 52px;
    font-weight: 700;
    max-width: 480px;
  
}
.landing-page-contents p{
    font-size: 18px;
    font-weight: 400;
    max-width: 425px;
} 

.landingpage-img-container{
    width:50%
}

.facility-session-contents{
   
    display:flex;
    flex-direction: column;
    gap:10px;
}

.facility-session-contents h6{
    color:#8D5CF6;
    font-size: 14px;
    font-weight: 700;
  }
  .facility-session-contents p{
    max-width: 440px;
  }
  .second-heading{
    font-size: 40px;
    color: rgba(37, 43, 66, 1);
    font-weight: 700;

  }

.facility-session-cards{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap:15px;
}

.facility-session-card{
    /* width:238px;
    height:288px; */
    padding:40px 35px;
    column-gap:20px;
    box-shadow:0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    display:flex;
    flex-direction: column;
    gap: 20px;
    max-width: 250px;
    overflow: hidden;
    
    
    
}

.facility-session-card:hover{
  background-color: #8D5CF6;
  transition: ease-in-out 0.3s;
  color:white;
  
}
/* .facility-session-card:hover p{
     background-color: #8D5CF6;
    transition: ease-in-out 0.3s;
    color:white; 
  } */

  .facility-session-card:hover hr{
    background-color: #8D5CF6;
    transition: ease-in-out 0.3s;
    background-color:white;
  }
  .facility-session-card:hover p{
    color:white;
  }

.facility-session-card img{
    width:72px;
    height:72px;
}

  .facility-session-card hr{
    width:50px;
    height:2px;
    background-color:rgba(231, 64, 64, 1);
    
  }
  .red-hr{
    width:94px;
    height:7px;
    background-color: rgba(231, 64, 64, 1);
    border: none;
    
  }

 .session-contents{
    width: 50%;
    display:flex;
    flex-direction: column;
    gap:30px;
   
} 
.session-contents p{
    max-width: 440px;
}
.extra-gap{
    gap:125px;
}
.video-bg{
    position: relative;
}
.video-bg img{
    border-radius: 20px;
}
.video-icon-cover{
    position: absolute;
    bottom:calc(50% - 37.5px);  
    left:calc(50% - 37.5px);  
    height:75px; 
    width:75px; 
     border-radius: 73px;  
    background-color: #8D5CF6;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.video-icon-cover i{
    color:white;
    font-size: 25px;
}
.session-img{
    width:50%;
    
}
.small-session-contents{
    display: flex;
    flex-direction: column;
    gap:15px;
    max-width: 440px;
}

.blue-txt{
    font-size: 14px;
    font-weight: 700;
    color: #8D5CF6;
    text-decoration: none;
    
}


.experts-session-img{
    position: relative;
}
.experts-session-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:12px;
}
.experts-session-card{
    display:flex;
    flex-direction: column;
    
}
.experts-session-card-contents{
    padding: 20px 5px;
    display:flex;
    flex-direction: column;
    gap:15px;
    align-items: start; 
}
.bold-txt{
    font-size: 15px;
    font-weight: 700;
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.experts-session-card-contents p{
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.icon-container{
    display:flex;
    justify-content: center;
    align-items: end;
    gap:10px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    
}
.icon-cover{
    width:40px;
    height: 40px;
    border-radius: 45px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white
    
}
 .icon-cover i{
    display: flex;
    align-items: center;
    justify-content: center;
   
} 

.icon{
    width:20px;
    height:20px;
    /* position: relative; */
    /* top:10px; */
    /* left:10px; */
}
.rating-container{
    width:210px;
    /* height:26px; */
    display:flex;
    justify-content: space-between; 
    align-items: center;
 
}

.rating-container a{
   max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
} 
.sales-container{
    width:83px ;
    height:24px ;
    display:flex;
    gap:10px;
    
}

.sales-container img{
    width:16px;
    height: 16px;
}
.sales-container h6{
    font-weight: 700;
}
.sale-label{
    /* max-width:51px ; */
    /* height:24px ; */
    background-color: rgba(231, 64, 64, 1);
    border-radius: 3px;
    padding:5px 10px;
    display: flex;
    align-items: center;
    position: absolute;
    top:20px;
    left:20px;
    
}


.sale-label h5{
    max-width: 150px;
    color:white;
    overflow: hidden;
    text-overflow: ellipsis;
    /* text-align: center; */
}

.rating{
    width:50px;
    height:26px;
    border-radius: 20px;
    background-color: #26335D;
    color:white;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap:5px;
    padding: 5px;
    

}
.rating-star{
     color:  rgba(255, 206, 49, 1);
     margin-bottom: 3px;
}

.rating p{
    color:white;
    font-size: 12px;
}

.rating span{
    color:  rgba(255, 206, 49, 1); 
    margin-bottom: 3px;
}


.pricing-section{
    
    /* margin-left: 150px; */
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap:80px;
}

.pricing-details h2{
    font-size: 40px;
     font-weight: 700; 
     color:#8D5CF6;
}
.pricing-details p{
    color: rgba(142, 194, 242, 1);
     font-weight: 700;
}
.purple-icon-cover{
    width:96px;
    height:96px;
    background-color: #8D5CF6;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent-card-container{
    display: flex;
     gap: 30px;
}
.card-container{
    position: relative;
    max-width:323px ;
    display: flex;
    flex-direction:column;
    align-items: center; 
    gap:35px;
    padding:40px 25px; 
    box-shadow:0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    
}
.card-container:hover{
    background-color: rgba(38, 51, 93, 1);
    transition:ease-in-out 0.3s ;
    color:white;
    
}
.card-container p{
    max-width:220px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-container:hover p{
    color: #F6F7FB;
}
.card-container:hover h6{
    color: #F6F7FB;
}
.heart-icon{
   
    font-size: 300%;
    color:white;
}

.large-btn{
    width:100%;
}
.tick-icon-cover{
    background-color:rgba(45, 192, 113, 1);
    min-width:32px;
    height:32px;
    border-radius: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
}
.bg-grey{
    color:rgba(189, 189, 189, 1);
}
.bg-orange{
   color: rgba(255, 123, 82, 1);
}
.tick-icon-grey-cover{
    background-color:rgba(189, 189, 189, 1);
    min-width:32px;
    height:32px;
    border-radius: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
    color:white;
}
/* .tick-icon-cover i{
    color: white;
   
    
} */
.tick-icon-parent-container{
    display: flex;
    flex-direction: column;
    gap:15px;
}
.tick-icon-container{
    display: flex;
    align-items: center;
    gap:7px
}
.tick-icon-container p{
    color: rgba(37, 43, 66, 1);
    font-weight: 700;
}
.new-label{
  position: absolute;
  top:-45px;
  right:-25px;
   background-color:  rgba(231, 124, 64, 1);
   color: white;
}

.testimonials-container{
    padding-top: 150px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    /* padding-bottom: 100px; */
}
.testimonials{
    
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.testimonials p{
    text-align: center;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.star-icon-container i{
    color: rgba(243, 205, 3, 1);

}
.star-icon-container p{
    font-size: 12px;
    color: #737373;
}
.join-us-section{
    background-color: rgba(255, 242, 243, 1);
   
}
.join-us-container{
    padding-top: 150px;
    padding-bottom: 150px;
    max-width: 1050px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
     justify-content: center;
    align-items: center; 
    gap:10px;
}
.join-us-container p{
    max-width: 470px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.join-us-container h2{
    font-size: 40px;
    font-weight: 700;
}
.input-box-container{
     width:550px; 
    /* max-width: 600px;; */
    padding-top: 50px;
    display: flex;
}
.input-box-container input {
    /* display:flex */
     width:100%; 
    height: 50px;
    border:1px solid  rgba(249, 249, 249, 1);
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;
    padding: 15px;

}
.input-box-container button{
     border-top-right-radius: 5px;  
     border-bottom-right-radius: 5px;
    height: 50px;
    padding:15px 25px;  
   
}
.footer-container p{
    font-weight: 700;
}
.footer{
    
    padding:40px 0px;
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center; 
    gap: 40px;
    /* justify-content: space-around;  */
}
.bottom-footer{
    padding:20px;
}
.footer-details{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.footer-details h5{
    font-size: 16px;
    font-weight: 700;
}
.footer-details a{
    max-width: 300px;
    font-weight: 700;
}
.footer-details i{
    font-size: 20px;
    color: rgba(141, 92, 246, 1);
    padding-right: 5px;

}
.location-icon-container{
    display: flex;
    align-items: center;
    gap:7px;
}
.copyright-section{
    padding-bottom: 15px;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between; 
}
.socialmedia-icons{
    display: flex;
    gap:20px;      
}

.socialmedia-icons i{
    color: rgba(141, 92, 246, 1);
    font-size: 25px;

}
#dropmenu{
    background-color: #96bb7c;
    color:white;
    min-width: 160px;
    position:absolute;
    top:30px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition:0.3s ease-in-out;
    visibility: hidden; 
    opacity: 0;
    padding: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column; 
    text-align: center;
}

.first-dropdown:hover{
   background-color:black;
   border-radius:40px;
   width:100px; 
   text-align: center;
}
#dropmenu li a{
    font-size: 12px;
    padding: 10px 20px;
    display: block;
    color:white;
}
.dropmenu-parent{
    position: relative;
}
.dropmenu-parent:hover #dropmenu{
    opacity: 100;
    visibility: visible;
}
#submenu{
    background-color: #96bb7c ;
    min-width: 140px;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    left: 100%;
    top: 40%; 
    transition: 0.3s ease-in-out;
    visibility:hidden; 
    display: none;
    opacity:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* border-radius: 10px; */
    text-align: center;
}
.droplist:hover #submenu{
   visibility: visible;
   opacity: 100;
   padding:5px;
}


@media only screen and (max-width:980px) and (min-width:839px) {
    .experts-session-cards{
        display: grid;
        grid-template-columns:auto auto auto ;
        gap:15px;
        align-items: center;
        justify-content: center;
        /* width:100%;
        gap:50px; */
    }
    .landing-page-contents h1{
        font-size: 40px;
    }
    .landing-page-contents p{
        font-size: 17px;
    }
   
    .navbar{
        gap:60px;
    }
    .second-heading{
        font-size: 30px;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr auto ;
        justify-content: space-evenly;
        justify-content: center;
        width:100%;
    }
    
}
@media only screen and (max-width:839px) and (min-width:500px) {
   
    .header{
        position: fixed; 
        padding: 18px 13px;
        width:100%;
        z-index: 10;
 
     }
     .header-title{
        flex:1;
        padding-left: 10px;
     }
     .landing-page-img{
        display: none;
    }
     .landing-page-contents h1{
       font-size: 38px;
       width:100%;
     }
     .second-heading{
        font-size: 30px;
     }
     .navbar ul{
        position: fixed;
        flex-direction: column;
        padding:40px 10px;
        gap:30px;
        position:absolute;
        left:-350px;
        top:0;
        width:250px;
        background-color:#F6F7FB;
        height: 100vh; 
        /* display: none;   */
        transition: ease-in-out 0.4s;
        z-index: 10;
        margin-top: 70px;
        padding: 10px;
        text-align: center;
    }
    label #cancel{
        padding: 6.6px;  
   }
       #check:checked ~ .navbar ul{
           left:0;
       }
       #check:checked ~ label #btn{
           display: none;
       }
       #check:checked ~ label #cancel{
           position: relative;
           display: block;
          
          
       }
   label #btn{
        display: block;
         padding: 5px; 
        
   }
   .container{
    padding:0px;
   }
   .container-lg{
    flex-direction: column;
    align-items: start;
    justify-content:center;
    width:100%;   
    padding:160px 20px;  
    
}
.small-session-contents{
    padding:15px;
}
.facility-session-cards{
    margin-top: 100px;
    grid-template-columns: auto auto;
    padding:10px;
    place-items: center;
    justify-content: space-evenly;
    gap: 15px;
}
.facility-session-contents{
    padding:10px;
}
.session-contents{
    padding:15px;
}
.session-img{
    padding:15px;
   
}
.extra-gap{
    gap:0px;
}
.experts-session-cards{
    margin-top: 150px;
}
.experts-session-cards{
    display: grid;
    grid-template-columns:auto auto ;
    gap:15px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.experts-session-img img{
    object-fit: fill;
    height: 400px;
}
.video-icon-cover{
    width:50px;
    height: 50px;
    bottom: calc(50% - 25px);
    left: calc(50% - 25px);   
}
.video-icon-cover i{
    font-size: 15px;;
}
.parent-card-container{
    margin-top: 100px;
    display: grid;
    grid-template-columns:auto auto;
    padding:15px;
}
.input-box-container{
    padding: 10px;
    width: 90%;
    margin-top: 50px;
}
.footer{
    display: grid;
    grid-template-columns: auto auto;
     justify-content: space-evenly; 
    /* place-items: center; */
    padding:20px;
}
.copyright-section{
    justify-content: space-evenly;
}
.dropmenu-parent{
     position: static; 
}
.dropmenu-parent:hover #dropmenu{
    opacity: 0;
    visibility:hidden;
}
#drop:checked ~ #dropmenu{
        opacity: 100;
        visibility: visible;
        position: static;
        margin-top: 10px;
}
.dropmenu-parent{
    margin-inline-start: 15px;
}

#dropmenu{
    background-color: #96bb7c;
    /* position: absolute;  */
    height: 150px;
    top: 30px;
    gap:15px;
}
.droplist:hover #submenu{
    visibility:hidden;
    opacity:0;
 }
 #subdrop:checked ~ #submenu{
    visibility: visible;
    opacity:100 ;
 }
#submenu{
    /* text-align: center; */
    margin-inline-start: 10px;
    gap:10px;
    padding:5px;
    height:200px;
    margin-top: 30px;
}
.parent-card-container{
    padding:30px;
}

}
@media only screen and (max-width:500px) {
   
    .header{
       position: fixed; 
       padding: 18px 13px;
       width:100%;
       z-index: 10;

    }.session-img{
        width:75%;
        text-align: center;
    }
     
    .header-title{
        font-size: 20px;
        flex:1;
        padding-left: 10px;
    }
    .second-heading{
        text-align: center;
        font-size: 30px;
    }
    ul{
        padding: 0;
        margin: 0;
    }
    .navbar ul{
        position: fixed;
        flex-direction: column;
        padding:40px 10px;
        gap:30px;
        position:absolute;
        left:-250px;
        top:0;
        width:170px;
        background-color:#F6F7FB;
        height: 100vh; 
        text-align: center;
        transition: ease-in-out 0.4s;
        z-index: 10;
        margin-top: 70px;
    }
    .landing-page-img{
        display: none;
    }
    .btn-hide{
        display: none;
    }
    .container-lg{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%; 
        padding:60px 10px;  
        
    }
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%; 
        padding:0px 0px; 
        
    }
    .paragraph{
        font-size: 11px;
         /* padding: 10px;  */

    }
    .page-session{
        margin-bottom: 100px;
        
    }
    .landing-page-contents{
        text-align: center;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 100%;
        margin-top: 75px;
    }
    .landing-page-contents h1{
        font-size: 35px;
        font-weight: 700;
    }
    .landing-page-contents p{
      
        font-size: 14px;
        font-weight: 400;
    }
    .btn{
        padding:12px 12px; 
        font-size: 12px;
    }

    .facility-session-cards{
        display: grid;
        grid-template-columns:1fr 1fr;
        gap:15px;
        justify-content: center;
        /* width: 100%; */
         padding:10px; 
    }
    .facility-session-contents{
        /* align-items: center; */
        text-align: center;
    }
    .facility-session-contents h2{
        font-size: 32px;
    }
    .blue-txt{
        font-size: 10px;
    }

    .session-contents{
        text-align: center;
        width:100%;
        align-items: center;
        gap: 15px;
        padding: 10px;
    }
    .extra-gap{
        gap:75px;
    }

    .video-bg{
        padding:10px;
    }
    .video-icon-cover{
        width:50px;
        height: 50px;
        bottom: calc(50% - 25px);
        left: calc(50% - 25px);   
    }
    .video-icon-cover i{
        font-size: 15px;
    }
    .small-session-contents{
        text-align: center;
        gap:10px;
    }
    .flex-row{
        flex-direction: column;
    }

    .experts-session-card{
        margin-bottom: 40px;
    }
    .experts-session-cards{
        grid-template-columns: 1fr;
    }
    .parent-card-container{
        flex-direction: column;
        gap: 45px;
        /* padding: 17px; */
    }
    .experts-session-img img{
        object-fit: fill;
        /* height: 250px; */
    }
    .new-label{
        display: none;
    }
    .testimonials-container{
        flex-direction: column;
        gap:70px;
        padding-top: 70px;
    }
    .input-box-container{
        padding: 10px;
        width: 100%;
    }
    .join-us-container h2{
        font-size: 30px;
    }
    .footer{
        flex-direction: column;
    }
    .footer-details{
        
        display: flex;
        align-items: center;
    }
    .socialmedia-icons a{
        font-size: 15px;
    }
    .small-session-contents{
        padding:10px;
    }
    .copyright-section{
        padding: 10px;
    }
    .copyright-section p{
        max-width: 200px;
        
    }
    .btn-visible{
        display: block;
    }
   label #btn{
        display: block;
         padding: 5px; 
        
   }
   label #cancel{
     padding: 6.6px;  
}
    #check:checked ~ .navbar ul{
        left:0;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        position: relative;
        display: block;
       
       
    }
    .dropmenu-parent{
        position: static; 
   }
   #dropmenu{
       /* width:100px; */
       height:70px;
       background-color: #96bb7c;
       position: absolute; 
       height: 170px;
       top: 40px;
       gap:15px;
       padding: 10px;
       align-items: center;
       margin-top: 10px;
       opacity: 0;
       transition: 0.3s ease-in-out;
   }
   #submenu{
    gap:10px;
    padding: 10px;
    height:200px;
   }
   .droplist:hover #submenu{
    visibility:hidden;
    opacity:0;
 }
 #subdrop:checked ~ #submenu{
    visibility: visible;
    opacity:100 ;
    
 }
 .dropmenu-parent:hover #dropmenu{
    opacity: 0;
    visibility:hidden;
}
#drop:checked ~ #dropmenu{
        opacity: 100;
        visibility: visible;
        position: static;
    
}
    
}






